ruamel.yaml>=0.15.35,<0.18
python-magic>=0.4,<0.5
commonmark>=0.8,<0.10
aiohttp>=3,<4
yarl>=1,<2
attrs>=19.1
mautrix @ git+https://github.com/mautrix/python@f4680cdabe0f2c46b7444f3c1a97b53ae1a353d7#egg=mautrix
asyncpg>=0.20,<0.27
